.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
  width: 100vw;
  height: 20px;
}

/* .Nav__link_left {
  align-self: flex-start;
}

.Nav__link_right {
  al
} */

.articles {
  grid-area: main;
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

.articles::-webkit-scrollbar {
  display: none;
}
/* 
.navBarLeft {
  text-align: left;
  flex: 1;
  margin: 10px;
  align-items: center;
}

.navBarRight {
  text-align: right;
  flex: 1;
  margin: 10px;
} */

.Nav__link {
  margin: auto;
  padding: 5 px;
}

.articles {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articleCard {
  max-width: 40%;

  margin: 10px;
  padding: 10px;
}

#topicsForm {
  display: inline;
  margin: 10px;
}

#userThumbnail {
  border-radius: 15px;
  padding: 5px;
  height: 4vh;
  width: auto;
  position: static;
}

#userName {
  display: inline;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.userCard {
  margin: 10px;
  padding: 10px;
}

.userImage {
  border-radius: 15px;
  padding: 10px;
  width: 100px;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.welcomeBack {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.readArticleCards {
  margin: 15px;
  padding: 15px;
}

.readArticles {
  margin: 10px;
  padding: 10px;
}

.commentCard {
  border: solid violet 1px;
  margin: 20px;
  padding: 20px;
}

.sortBox {
  position: static;
  margin-bottom: 20px;
  right: 3vw;
}

.sort_bar {
  height: 3vh;

  text-align: right;
}
