.App {
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
}

h1 {
}

Link {
  color: black;
}
.articles {
  grid-area: main;
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #ffffff;
}

.articles::-webkit-scrollbar {
  display: none;
}

.nav {
  display: flex;
  grid-area: nav;
  background-color: #88a0a8;
  margin-bottom: 10px;
}

.navBarLeft {
  text-align: left;
  flex: 1;
  margin: 10px;
  align-items: center;
}

.navBarRight {
  text-align: right;
  margin: 10px;
}

.articles {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articleCard {
  border: solid 1px #88a0a8;
  border-radius: 5px;
  max-width: 40%;
  margin: 10px;
  padding: 10px;
}

#topicsForm {
  display: inline;
  margin: 10px;
}

#userThumbnail {
  border-radius: 15px;
  padding: 5px;
  height: 4vh;
  width: auto;
  position: absolute;
  float: left;
  right: 10px;
}

#userName {
  display: inline;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.userCard {
  margin: 10px;
  padding: 10px;
}

.userImage {
  border-radius: 15px;
  padding: 10px;
  width: 100px;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.welcomeBack {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.readArticleCards {
  margin: 15px;
  padding: 15px;
  border: solid 1px #88a0a8;
  border-radius: 5px;
}

.readArticles {
  margin: 10px;
  padding: 10px;
}

.commentCard {
  border: solid 1px #88a0a8;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.sortBox {
  position: static;
  margin-top: 3vh;
  margin-bottom: 20px;
  right: 3vw;
}

.sort_bar {
  height: 3vh;
  text-align: right;
}
